<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oblicz Problemy</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>


</head>
<body>
    <h1>Lista Dowodów:</h1>
    <ul>
        {% for problem in problems %}
        <li>
            <a href="{{ url_for('problem_page', prob_id=problem.id) }}">Problem {{ problem.display_id }}</a>:
            {{ problem.description.split('.', 1)[1] | safe }}
        </li>
        {% endfor %}
    </ul>
</body>
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{#    <script id="MathJax-script" async#}
{#      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">#}
{#    </script>#}
<script>
    window.onload = function() {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    };
</script>
</html>
